body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #2b0000;
}
.header {
    background-color: #2b0000;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}
.image-box {
    width: 100px;
    height: 100px;
    background-image: url('3135768.png');
    background-size: cover; /* Ajusta la imagen para que ocupe todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    border-radius: 50%; /* Hace la imagen circular */
}
.header-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header .name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
.header-buttons {
    display: flex;
    gap: 10px;
}
.header-buttons button {
    background-color: #400000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.header-buttons button:hover {
    background-color: #550000;
}
.main-container {
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #400000;
    color: white;
    padding: 20px;
    height: 100vh;
    overflow: auto;
}
.sidebar h3 {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.sidebar p, .sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 8px 0;
}
.sidebar i {
    margin-right: 10px;
}
.sidebar a:hover {
    background-color: #550000;
}
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}
.accordion {
    background-color: #f9f9f9;
    color: #2b0000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid #2b0000;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
}
.accordion:hover {
    background-color: #ddd;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    border: 1px solid #2b0000;
    border-top: none;
}
.panel p, .panel li {
    margin: 10px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 10px;
    border: 1px solid #2b0000;
    text-align: left;
}
th {
    background-color: #2b0000;
    color: white;
}
td {
    background-color: #f9f9f9;
    color: #333;
}